body{

background-image: url(MarutisuzukiArena.jpg); background-size: cover; background-color: rgba(0, 0, 0, 0.8);
}

h1{
text-align: center; margin-top:0px; background-color:none; color: #000;
font-size: 50px; float: center;
border: 5px solid lightyellow;


}
ul{

float: right; margin-top: 25px;
}

ul li{
display: inline-block;

}
ul li a{

text-decoration: none; color: white;
padding: 5px 5px;
border: 1px solid transparent;
 
transition: 0.6s ease;

}
ul li a:hover{
background-color: #000; color:#fff;
}


.footer{

height: 10px; top: 4cm; position: relative;
text-align: center; font-weight: bold; color: red;

background-color: rgba(0, 0, 0, 0.5);
}

.main{
width: 0px; height: 0px;
background: darkorange ;




top: 50%;

left: 50%; posiiton: absolute;
transform: translate(50%,0%); box-sizing: border-box; padding: 70px 30px;
border-radius: 15px;

}
